<div class="home-container">
    <div class="home-add-section">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Type of cost</mat-label>
                    <input matInput placeholder="Enter a value" value="">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="Enter a value" value="" type="number">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Enter a value" value="">
                </mat-form-field> -->
            </div>
        </div>
        <div class="text-end mt-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</div>